  body {
    background-color:  #9999ff;
    color: black;
    margin:2px;
  }
  h1 {
    background-color: #14141f;
    margin: 0%;
    height: 100%;
    padding: 5%;
    color: white;
    font-family: fantasy;
    font-size: 50px;
 }
